* {
    padding: 0;
    margin: 0
}

@font-face {
    font-family: pixel;
    src: url(/fonts/Pixelmania.ttf);
}

body {
    background-color: #012f53;
    font-family: 'pixel';
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#game-board {
    position: relative;
    display: flex;
    justify-content: center;
}

#score {
    opacity: 0;
    position: absolute;
    top: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

#startGame {
    position: absolute;
    top: 480px;
}

button {
    background-color: transparent;
    border: 2px dashed red;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'pixel';
    color: red;
    width: 200px;
    padding: 20px;
}

button:focus {
    outline: 0;
}